@font-face {
	font-family: Acrom;
	font-display: swap;
	src: url("../fonts/Acrom-Light.woff2") format("woff2"), url("../fonts/Acrom-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
